body{
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #ff966d, #fa538d, #89379c);
}

.mainContainer{
  width : 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  margin-top: 10%;
    width: 50vw;
    height: 60vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "login";
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 30%);
    border-radius: 20px;
    background: white;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

/* .card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95);
} */
.inputarea{
background: #e6e6e6;
  height: 40px;
  display: flex;
  width: 60%;
  align-items: center;
  border-radius: 10px;
  padding: 0 15px;
  margin: 5px 0;
}

.textarea input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}
.login-btn {
    width: 45%;
    padding: 10px;
    color: white;
    background: linear-gradient(to right, #ff966d, #fa538d, #89379c);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}
.inputbox{
  align-items: center;
  justify-content: center;
}

.inputarea {
  width: 210px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom,rgb(227, 213, 255),rgb(255, 231, 231));
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}
i{
  padding: 10px 10px 10px 10px ;

}
